@import "../bower_components/normalize-css/normalize.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}
body,
html {
  width: 1080px;
  height: 1920px;
  position: relative;
}
.cb-container {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.cb-container .numbers {
  height: 200px;
  background-color: #1F3442;
}
.cb-container .numbers table {
  border-collapse: collapse;
  border-spacing: 0px;
}
.cb-container .numbers .numbers-col {
  width: 360px;
}
.cb-container .numbers .data-row {
  height: 75px;
  vertical-align: top;
}
.cb-container .numbers .label-row {
  height: 20px;
  vertical-align: bottom;
}
.cb-container .numbers .label-cell {
  text-align: center;
  text-transform: uppercase;
  color: #9dafbc;
  font-weight: 400;
}
.cb-container .numbers .data-cell {
  text-align: center;
  padding-bottom: 10px;
  font-size: 4em;
  font-weight: 400;
}
.cb-container .pages {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0px;
}
.cb-container .pages td,
.cb-container .pages th {
  padding: 0 5px;
}
.cb-container .pages thead {
  text-transform: uppercase;
  font-size: .5em;
}
.cb-container .pages thead tr {
  background-color: #446780;
  height: 40px;
}
.cb-container .pages thead th {
  color: #9dafbc !important;
  font-weight: 400 !important;
  line-height: 40px;
}
.cb-container .pages thead .title {
  text-align: center;
}
.cb-container .pages tbody tr {
  height: 60px;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 600ms;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
  transform: translateY(1000px);
  overflow: auto;
}
.cb-container .pages tbody td {
  line-height: 60px;
}
.cb-container .pages tr {
  position: absolute;
  font-size: 2em;
  font-weight: 300;
  border-bottom: 1px solid #233743;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  left: 0;
  margin: 0;
  padding: 0;
  right: 0;
  white-space: nowrap;
  width: 100%;
  line-height: 1.5em;
}
.cb-container .pages tr .desktop,
.cb-container .pages tr .mobile,
.cb-container .pages tr .concurrent,
.cb-container .pages tr .social,
.cb-container .pages tr .search,
.cb-container .pages tr .engaged {
  color: #96B8CB;
  margin-right: 15px;
  font-weight: 600;
}
.cb-container .pages tr .concurrent {
  width: 95px;
  text-align: right;
  padding-right: 10px;
}
.cb-container .pages tr .desktop,
.cb-container .pages tr .mobile,
.cb-container .pages tr .social,
.cb-container .pages tr .search,
.cb-container .pages tr .engaged {
  width: 75px;
  text-align: center;
}
.cb-container .pages tr .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 500px;
  max-width: 500px;
}
.ga-container {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
}
.ga-container h1 {
  display: block;
  width: 100%;
  background-color: #446780;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 10px 0;
  font-size: 2em;
  font-weight: 200;
}
.ga-container .ga-content {
  padding: 20px 0 0 0;
}
.ga-container .ga-content .two-up {
  width: 50%;
  float: left;
  text-align: center;
}
.ga-container .ga-content .label {
  text-transform: uppercase;
  color: #9dafbc;
  font-weight: 400;
  padding: 0 50px;
}
.ga-container .ga-content .story {
  font-size: 1.75em;
  font-weight: 300;
  border-bottom: 1px solid #233743;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  line-height: 1.5em;
  margin-bottom: 20px;
  padding: 0 50px 10px 70px;
}
